.rullings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__dropdown {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
  .rullings-header {
    &__dropdown {
        display: block;
    }
  }
}
